* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: green;
    font-family: Helvetica Neue, sans-serif;
}

.section1 {
    display: flex;
    justify-content: center;
}

.container1 {
    width: 1100px;
    height: 990px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .container1 img {
    height: 25px;
    padding-top: 10px;

} */
.icon {
    height: 20px;
    width: 20px;
}

.header-items {
    display: flex;
    gap: 30px;
    margin: 0;
}

.header-menu {
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;


}

.sumnuu {
    height: 10px;
    width: 11px;



}

.medee {
    display: flex;
}

.search {
    height: 80px;
}

.haih {
    height: 25px;
    width: 25px;
}



.gg {
    display: flex;
    align-items: center;
}

.gogoicon {
    height: 40px;
}

.itemmn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 5px;
    padding: 0;


}

.textgreen {
    color: greenyellow;
}

.classtoo {
    margin: 0;
    padding: -10px;

}

.Niigem {
    border: 1px solid black;
    /* height: 30px; */
    width: fit-content;
    padding: 5px 15px;
    color: aliceblue;
    transition-duration: 1s;
    /* transition-delay: 3s; */
    border-radius: 100px;
    background: rgb(227, 42, 94);
    background: linear-gradient(90deg, rgba(227, 42, 94, 1) 14%, rgba(255, 121, 0, 1) 93%);
}

.Niigem:hover {
    /* transform: scale(1.5); */
    background-color: red;
    padding: 5px 25px;
}

.first {


    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    margin-top: 20px;

}

.first:hover {
    color: gray;     /* ungu solison*/
  
}


.para {


    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    margin-top: 50px;

}

.main-news {
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 15px;

}

.main-news-img {
    width: 75%;
    margin-top: 50px;
    overflow: hidden;
    /* 10% томруулна.*/
    position: relative;
}

.main-news-img img {
    width: 100%;
    transition: all 1s;
}

.main-news-img:hover img {
    transform: scale(1.1);
    /* 10% томруулна.*/
}

.main-news-text {
    width: 50%;
    padding-right: 50px;
    margin-top: 50px;
}



.maincomment {

    width: fit-content;
    height: 20px;
    padding: 1px 5px;

    transition-duration: 1s;
    border-radius: 100px;
    background: rgb(112, 110, 110);
    display: flex;
    align-items: center;


}

.maincomment:hover {
    /* transform: scale(1.5); */
    background-color: white;
    padding: 3px 10px;


}

.maincomment:hover .turnleft {
    transform: rotate(45deg);
}

.turnleft {
    width: 30px;
}

.comm {
    height: 25px;



}

.toontemdeg {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}

.divcomment {
    display: flex;
    gap: 10px;
}

.komment {
    display: flex;

    gap: 10px;
}

.allcomment {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 1px;

}

.allcoment:hover {

    background-color: red;
    padding: 5px 25px;

}

.main-news-img-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-news-img:hover .main-news-img-hidden {
    visibility: visible;
}


/* ded medenuud*/
.card {
    width: 95%;
    height: 270px;
    margin-left: 50px;
    font-size: larger;
    display: flex;
    gap: 10px;

}

.prius {
    width: 100%;
    overflow: hidden;
    /* 10% томруулна.*/
    position: relative;
    border-radius: 2%;
}

.prius img {
    width: 100%;
    transition: all 1s;
}

.prius:hover img {
    transform: scale(1.1);
    /* 10% томруулна.*/
}

.delgerengui {
    /* hidden hiih*/
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.prius:hover .delgerengui {
    visibility: visible;
}

.cardmedee {
    display: flex;

    /* Section 2*/

}

.section2 {
    display: flex;
    /* justify-content: center; */
    /* height: 100vh; */
    width: 1100px;
    margin: auto;
    background-color: white;
}

/* .container2 {
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .card2{
        width: 95%;
        height: 270px;
        font-size: larger;
        display: flex;
        gap: 10px;
        
    }  */
.story1 {
    font-size: 30px;
    color: black;
}

.story2 {
    font-size: 25px;
    color: white;
    background-color: #00b0f4;
    gap: 3px;
    border-radius: 50;
}

.story {
    display: flex;
    margin-bottom: 15px;
    margin-top: 30px;

}

.gogostmp {
    height: 30px;
    position: absolute;
    margin: 10px;

}



.zurgaanzurag {
    width: 179px;
    height: 235px;
    overflow: hidden;
    /* 10% томруулна.*/
    position: relative;
    border-radius: 2%;


}

.zurgaanzurag>img {       /* ehnii zurgiig.*/
  
    width: 100%;
    height: 100%;
    transition: all 2s;
    position: absolute;
    /* z-index: -1; */
}

.zurgaanzurag:hover .coca {
    transform: translateY(-25px);
    height: 70px;
}

.zurgaanzurag:hover>img {
    transform: scale(1.1);
    /* 10% томруулна.*/
}

.coca {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    font-size: 15px;
    color: white;
    height: 35px;
    overflow: hidden;
    transition: all 1s;
}

.Too {
    font-size: smaller;
    color: azure;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 8px;

}


.zurgaaz {
    display: flex;
    gap: 5px;
}

/*Section 3*/


.section3 {
    display: flex;
    /* justify-content: center; */
    /* height: 100vh; */
    width: 1406px;
    height: 4251.37;
    margin: auto;
    background-color: aqua;

    justify-content: center;

}

.container3 {
    width: 1100px;
    background-color: white;
    display: flex;
   


}

/*.card2{
        width: 95%;
        height: 270px;
        font-size: larger;
        display: flex;
        gap: 10px;
        
    }   */
/*.blue { 
    color: #407ce8;
    font-size: 13px;
}*/
.unuudur {
    color: #407ce8;
    font-size: 8px;

}

.udur {
    color: #407ce8;
    font-size: 6px;
}

.navch {
    display: flex;
    justify-content: left;
    gap: 5px;
    margin-top: 10px;

}

.blue {
    color: #407ce8;
    background-color: #407ce8;
    height: 7px;
    width: 103.81px;
    border-radius: 20px;
    border-color: #407ce8;

}

.gray {

    background-color: #EFEFEF;;
    height: 7px;
    width: 103.81px;
    border-radius: 20px;
    border-color: #EFEFEF;

}

.udur {
    color: #407ce8;
    font-size: 6px;
    padding-left: 10px;
}

.uchigdur {
    color:#EFEFEF;
    font-size: 6px;
    padding-left: 10px;
}

.deeshee:hover {
    transform: translateY(-2px);
}

.deeshee:hover .gray {
    background-color: #407ce8;
}

.deeshee:hover .uchigdur {
    color: #407ce8;
}
.huuchinmedee{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  
    
  
}
.huuchinmedee1{
  display: flex;
  padding-top: 40px;
  gap: 15px;
}
.huuchinmedee3{
    display: flex;
    gap: 15px;
    
  }
.calend {
    color:#5b5656;
    height: 30px;
    width: 30px;
    background-color: #EFEFEF;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 7px;
 
    }

.calend1:hover .calend {
background-color: #407ce8;
}
.left{
    width: 70%;          /* conteiner3 undsen delgetsee 2 huvaah*/
    height: fit-content;
    background-color: #5b5656;
}
.right{
    width: 30%;
    height: fit-content;
    /* height: 100%; */
    background-color: #c7e669;
    /* display: flex;
    justify-content: end; */
    border-left: 1px solid red;  /* zuun border ungu hemjee uguv*/

}

.ontsloh{
    width: 100%;
    padding-left: 10%;
    background-color: #00b0f4;
    /* height: 100%; */
}
.ikhmedee {
    display: flex;
    margin-top: 15px;
}
.ikhmedee:hover .pm img {
    transform: scale(1.1);
    
    
    /* 10% томруулна. */
   
}
.pm{
    width: 210px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background-color: red;
    
}

.pm img{
    width: 100%;
    height: 100%;
    
}
.zuunergeh {
    width: 20px;
    background-color: #888888;
}
.time {
   display: flex;
   gap: 5px;
}
.zuunergeh1 {
    display: flex;
    padding-top: 10px;

   
    gap: 20px;
 }
 .zuunergeh2 {
    display: flex;
   
 }

 .flex {
    display: flex;
 }

 .gap-20{
    gap: 20px;
 }

 .width-200{
    width: 200px;
 }
 .margintop-10{
    margin-top: 10px;
 }
 .marginleft-10{
    margin-left: 10px;
 }
 .unshih{
    color: aliceblue;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 80px;
    visibility:hidden;
    background-color: rgba(0,0,0,0.5);
    top: 0;  /*  undsen zuragtaigaa davhatuulah*/
    z-index: 1;         /* davhargiin deer gargah*/
    height: 150px;      /* undsen zuragtai hemjee ijil*/
    width: 210px;

 }

 .Unshih1{
    position: relative;  /* hoverloh 2 element 1 classd baih yostoi 1 dev*/
 }
 .Unshih1:hover .unshih{   /* unshih1 deer unshih text garch irne*/
    visibility: visible;
  }
  .ireedui{
    height: 245px;
    width: 690px;
    padding-top: 20px;
  }
  .sanal{
    height: 322;
    width: 690;
    background-color: #407ce8;
  }
  .tsaashuzeh{
    height: 65.37px;
    width: 690px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #888888;
    border-color: #888888;
    border-style: solid; /* urgeljilsen zuraas*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
   


  }
  .comment11{
    height: 20px;
   
  }

.tsaashuzeh:hover {
    background-color: aliceblue;
    border-width: 2px;
}

.tsaashuzeh p{
    font-weight: 600;
}
.ontslohmedee{
    display: flex;
    justify-content:left;
    gap: 15px;
    margin-bottom: 50px;
}
.mod{
    height: 25px;
}
.aa{                 /* zurag davhatsuulsh*/
  width: 295px;
  /* margin-top: 50px; */
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  top: 0;  /*  undsen zuragtaigaa davhatuulah*/
  /* position: relative; */
}


 .unshih3{
    position:absolute;  
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 295px;
    height: 100%;
    z-index: 0;
    top: 0;
    color: white;
 }
 .unshih31{
    position: relative;
 }

 .unshih31:hover .unshih3{
    visibility: visible;
 }
 .trendtolgoi{
    height: 88.33px;
    width: 329px;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
 }

 .trend1{
    display: flex;
    padding: 20px 0;
    gap: 10px;;
    /* background-color: #407ce8; */
    border-bottom: 1px dashed gray;
   
 }
 .trend10{
    /* height: 88.33px;
    width: 329px;
    display: flex;
    gap: 15px;
    margin-left: 30px; */
    padding: 0 50px 0 40px;
 }
 .leftcomment{
    display: flex;
    height: 25px;
    gap: 10px;
    padding-top: 10px;
 }
 .gap-5px{
    display: flex;
    gap: 5px;
}
.trend10:hover  {         /*hover img-gevel zuvhun zuragnuudiig hoverlono*/
    transform: scale(1.1);
    /* 10% томруулна.*/
}

.section4 {
   
    /* justify-content: center; */
    /* height: 100vh; */
    width: 1100px;
    margin: auto;
    background-color: white;
    height:fit-content;
}
.mic{
    display: flex;
    margin-top: 60px;
    height: 25px;
}
.tavanzurag{
    width:100%;
    height: 500px;
    gap: 10px;
    background-color: red;
    margin-top: 20px;
    display: flex;  
    justify-content: space-between;   
}
 
.zuragtav {
    width: 100%;
    
    overflow: hidden;
    /* 10% томруулна.*/
    position: relative;
    border-radius: 2%;
}

.zuragtav>img {       /* ehnii zurgiig.*/
    width: 100%;
    height: 100%;
    transition: all 2s;
    position: absolute;
    top: 0;
    /* z-index: -1; */
}

.zuragtav:hover>img {
    transform: scale(1.1);
    /* 10% томруулна.*/
}
.zuragtav1 {
    z-index: 2;
    position: absolute;
    bottom: 140px;
    font-size: 15px;
    color: white;
    height: 35px;
    padding-left: 30px;
    transition: all 1s;
}


.gutal{
    height: 26px;
    width: 41.73px;
    background-color: #407ce8;
    border-radius: 5px;
    color: aliceblue;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: all 2s;
}

.gutal1{
padding-top: 20px;
}

.gutal2{
    padding-top: 20px;
    }


 
.zuragduruv:hover img{
    transform: scale(1.1);   
}
.zuragduruv img{
    width: 100%;
    height: 100%;
}
.enkbyam{
    display: flex;
    justify-content: end;
    gap: 10px;
  
    margin-right: 10px;
}   

.zuragduruv {
    width: 49%;
    gap: 10px;
    height: 49%;
  
    
    overflow: hidden;
    /* 10% томруулна.*/
    position: relative;
    border-radius: 2%;
}
.garaa{
    height: 26px;
    width: 104.05px;
    background-color: #407ce8;
    border-radius: 5px;
    color: aliceblue;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}


.enkbyam1{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}  

.right-zurag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  /* etseg dotroo huuhduud uuriin hemjeegeer bgtahgui ued unagna*/
   justify-content: space-between;
   /* align-items: ; */
    /* height: 48%; */
}

.section5 {
   
    /* justify-content: center; */
    /* height: 100vh; */
    width: 1100px;
    margin: auto;
    background-color:white;
    
    height: 1500px;
}

.hevmayag {
    font-size: 18px;
   display: flex;
   justify-content: center;
   align-items:center;
    color: white;
    background-color: #00b0f4;
    gap: 3px;
   border-radius: 5px;
    height: 25.5px;
    width: 103.01px;
}

.hevmayag1{
  
    display: flex;

    gap: 10px;
}

.ikhmedee {
    display: flex;
    margin-top: 15px;
}
.ikhmedee:hover .pm img {
    transform: scale(1.1);
    
    
    /* 10% томруулна. */
   
}
.pm{
    width: 263.75px;
    height: 230px;
    position: relative;
    overflow: hidden;
    background-color: red;
    
}

.pm img{
    width: 100%;
    height: 100%;
    
}
.zuunergeh {
    width: 20px;
    background-color: #888888;
}
.time {
   display: flex;
   gap: 5px;
}
.zuunergeh1 {
    display: flex;
    padding-top: 10px;

   
    gap: 20px;
 }
 .zuunergeh2 {
    display: flex;
   
 }

 
 .unshih{
    color: aliceblue;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 80px;
    visibility:hidden;
    background-color: rgba(0,0,0,0.5);
    top: 0;  /*  undsen zuragtaigaa davhatuulah*/
    z-index: 1;         /* davhargiin deer gargah*/
    width: 263.75px;
    height: 230px;

 }

 .jalsa1{
    position: relative;  /* hoverloh 2 element 1 classd baih yostoi 1 dev*/
 width:240px;
}
 .jalsa1:hover .unshih{   /* unshih1 deer unshih text garch irne*/
    visibility: visible;
  }
.border{
    border: #888888 solid 1px;
    /* border-color: #5b5656; */
    width: 263.75px;
    height: 113px;

}
.border p{
    margin-top: 5px;
    margin-left: 5px;
}
.doodborder{
    border: #888888 solid 1px;
  border-bottom: #888888;
  width: 253px;
  margin-top: 10px;
  margin-left: 5px;
    

}
.commentshare{
    display: flex;
    gap: 25px;
    margin-left: 10px;
    margin-top: 5px;
    
}
.hevmayag2{
    display: flex;
    gap: 38px;
}
    






